.Mycard {
    .card{
        overflow: hidden;
        h5{
            // font-size: 4vw;
            height: 40px;
        }
    }
    &-add{
        $border: 2px $color-yellow solid;
        @include button(40px,39px,white,$border,5px,$color-yellow);
        text-align: center;
        font-size: 25px;
        transition: .2s;
        &:hover {
            color: $color-yellow;
            background-color: $color-black;
        }
    }

    &-number{
        @include plusMinus(50%,30px)
    }
    .typeInCard{
        border: 1px solid transparent;
        padding: 2px 8px;
        border-radius: 5px;
        background-color: $color-grey;
    }
}
// @include responsive("sm"){
//     .Mycard{

//         .card{
//             h5{
//                 // font-size: 2vw;
//                 height: auto;

//             }
//         }
//     }
// }
// @include responsive("md"){
//     .Mycard{

//         .card{
//             h5{
//                 font-size:1.25rem;
//                 // height: auto;

//             }
//         }
//     }
// }