.services {
    padding-top: 95px;
    margin: 0 5vw 0;
    width: 22vw;

    select {
        width: 100%;
        background-color: #F0A04B;
        border: none;

        &:focus {
            border: 2px solid $color-dark;
            box-shadow: 0px 0px 0 $color-dark;
        }
      
       
    }
}