<!doctype html>
<html lang="en">

<head>
    <title>Customer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../../asset/CSS/main.css">
    <!-- <link rel="stylesheet" href="../../customer/test.css"> -->

</head>

<body>
    <!-- HEADER -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand  text" href="#">
                    <i class="fab fa-accessible-icon"></i>
                    PHONE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-lg-5">
                            <a class="nav-link " href="../../index.html">HOME</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="#">CUSTOMER</a>
                        </li>
                        <li class="nav-item mx-lg-5">
                            <a class="nav-link" href="../../admin/view/admin.html">ADMIN</a>
                        </li>
                        <li class="nav-item ">
                            <button class="mx-2 cart d-none d-lg-block " data-bs-toggle="modal"
                                data-bs-target="#modalId">
                                <i class="fa fa-shopping-cart"></i>
                                <!-- CART NUMBER -->
                                <span id="cart-number">20</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- SERVICES -->
    <section class="  services">
        <div class="container d-flex d-lg-block justify-content-between ">
            <select class="form-select " aria-label="Default select example">
                <option selected>All brand</option>
                <option value="samsung">Samsung</option>
                <option value="iphone">iPhone</option>
            </select>
            <button class="mx-2  cart d-lg-none pe-3 ps-1 p-lg-0" data-bs-toggle="modal" data-bs-target="#modalId">
                <i class="fa fa-shopping-cart"></i>




                <!---------- CART NUMBER ---------->
                <span id="cart-number">20</span>




            </button>
        </div>
    </section>
    <!-- CARD -->
    <section class="Mycard my-4">
        <div class="container">
            <div class="row">


                <!-------------------------  Item----------------------------->
                <div class="Mycard-item col-6 col-md-4  col-lg-3 mb-4">
                    <div class="card" style="width: 100%;">
                        <div class="Mycard-body">



                            <div class="Mycard-body-describe">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, in nemo! Assumenda
                                    harum corrupti esse.</p>
                            </div>





                            <!-- image -->
                            <img src="https://shopdunk.com/images/thumbs/0008734_iphone-14-pro-128gb.png"
                                class="round w-75 mx-auto d-block p-2">






                            <!-- title -->
                            <h5 class="text-center my-3">iPhone 14 Pro</h5>




                        </div>
                        <ul class="list-group list-group-flush">
                            <div class="d-flex justify-content-around align-items-center my-3">





                                <!-- price -->
                                <p>$<span>1000</span></p>




                                <!-- type brand -->
                                <p><span class="typeInCard d-block">Apple</span></p>




                            </div>
                        </ul>
                        <div class="my-3 mx-sm-4 mx-2 d-flex justify-content-between align-items-center">
                            <div class="Mycard-number  d-flex">
                                <button class="btn-more"><i class="fa fa-minus"></i></button>
                                <input type="number" class="mx-1 text-center" id="001" value="0">
                                <button class="btn-less"><i class="fa fa-plus"></i></button>
                            </div>
                            <button class="Mycard-add "><i class="fa fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>




                <!-------------------------  Item----------------------------->
                <div class="Mycard-item col-6 col-md-4  col-lg-3 mb-4">
                    <div class="card" style="width: 100%;">
                        <div class="Mycard-body">
                            <div class="Mycard-body-describe">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, in nemo! Assumenda
                                    harum corrupti esse.</p>
                            </div>
                            <!-- image -->
                            <img src="https://tanvoishop.com/files/sanpham/36/2/jpg/samsung-galaxy-a10s.jpg"
                                class="round w-75 mx-auto d-block p-2">
                            <!-- title -->
                            <h5 class="text-center my-3">Samsung Galaxy A10s</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <div class="d-flex justify-content-around align-items-center my-3">
                                <!-- price -->
                                <p>$<span id="price">10000</span></p>
                                <!-- type brand -->
                                <p><span class="typeInCard d-block">Samsung</span></p>
                            </div>
                        </ul>
                        <div class="my-3 mx-sm-4 mx-2 d-flex justify-content-between align-items-center">
                            <div class="Mycard-number  d-flex">
                                <button class="btn-more" disabled><i class="fa fa-minus"></i></button>
                                <input type="number" class="mx-1 text-center" id="" value="0">
                                <button class="btn-less"><i class="fa fa-plus"></i></button>
                            </div>
                            <button class="Mycard-add "><i class="fa fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- CART -->
    <section class="cart-popup">
        <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">Cart</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body cart-popup-body">
                        <div class="container-fluid">

                            <div class="d-flex cart-popup-item mb-3">
                                <img class=" me-sm-3"
                                    src="https://shopdunk.com/images/thumbs/0008734_iphone-14-pro-128gb.png">
                                <div class=" d-flex flex-column my-auto align-items-left">
                                    <h5 class="m-0">iPhone 14 Pro</h5>
                                    <p class="my-2">Giá: $1000</p>
                                    <div class="cart-popup-number  d-flex">
                                        <button class="btn-more"><i class="fa fa-minus"></i></button>
                                        <input type="number" class="mx-1 text-center" id="" value="0">
                                        <button class="btn-less"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <p class="d-lg-flex my-auto  align-items-center">Tổng:
                                    <span class="my-2 mx-lg-1 d-block">1000</span>
                                    <button><i class="fa fa-trash-alt"></i></button>
                                </p>
                            </div>

                            <div class="d-flex cart-popup-item mb-3">
                                <img class=" me-sm-3"
                                    src="https://shopdunk.com/images/thumbs/0008734_iphone-14-pro-128gb.png">
                                <div class=" d-flex flex-column my-auto align-items-left">
                                    <h5 class="m-0">iPhone 14 Pro</h5>
                                    <p class="my-2">Giá: $1000</p>
                                    <div class="cart-popup-number  d-flex">
                                        <button class="btn-more"><i class="fa fa-minus"></i></button>
                                        <input type="number" class="mx-1 text-center" id="" value="0">
                                        <button class="btn-less"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <p class="d-lg-flex my-auto  align-items-center">Tổng:
                                    <span class="my-2 mx-lg-1 d-block">1000</span>
                                    <button><i class="fa fa-trash-alt"></i></button>
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer cart-popup-btn">
                        <button class="btn bg-color-black color-grey" data-bs-dismiss="modal">Close</button>
                        <button class="btn bg-color-dark color-grey">Clear</button>
                        <button class="btn bg-color-yellow">Pay</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        var modalId = document.getElementById('modalId');

        modalId.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            let button = event.relatedTarget;
            // Extract info from data-bs-* attributes
            let recipient = button.getAttribute('data-bs-whatever');

            // Use above variables to manipulate the DOM
        });
    </script>




    <!-- FOOTER -->
    <footer>
        <!-- social-->
        <!-- info -->
       
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>


    <script src="../controller/mainCustomer.js"></script>
    <script src="../controller/plusMinusButton.js"></script>




</body>

</html>