.cart {
    position: relative;
    $border: 2px $color-dark solid;
    @include button(40px, 39px, white, $border, 5px, $color-dark);
    text-align: center;
    font-size: 25px;

    #cart-number {
        position: absolute;
        $border-number: solid 1px $color-yellow;
        @include button(17px, 17px, black, $border-number, 50%, $color-yellow);
        font-weight: 600;
        top: 0%;
        right: 0%;
        font-size: 11px;
        
    }
}
.cart-popup{
    &-info{
        width: 50%;
    }
    // &-item{
    // }
    &-number{
        @include plusMinus(50%,30px)
    }
    &-btn{
        button{
            border: 1px solid $color-black
        }
    }
}