@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500;600;700;800&display=swap');

html,body{
    font-family: 'Shantell Sans', cursive, sans-serif;
}
body{
    background-color: $color-light;
    color: $color-black;
}
p{
    margin: 0;
    padding: 0;
}